body {
    background-color: #20232D;
    font-family: 'Roboto', sans-serif;
    color: #444;
    font-size: 14px;
    padding-top: 70px;
}
h1 {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis',sans-serif;
}
/********* Header *********/
.heading {
    background-color: #222222;
    color: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    padding: 15px;
    margin: 0;
    font-size: 20px;
    clear: both;
}
.heading span{
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 3px 10px;
}
.navbar-inverse {
    border: 0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}
.navbar-header .navbar-brand {
    color: white;
    margin: 5px 0!important;
    padding: 5px 10px;
    height: 40px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Dosis',sans-serif;
}
.navbar-header .navbar-brand:hover{
    background-color: #4679A0;
    color: #fff;
}
.navbar-inverse .navbar-nav>li {
    padding: 5px;
    font-family: 'Dosis',sans-serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: white!important;
    padding: 10px;
    border-radius: 4px;
    transition: all .3s ease;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #4679A0!important;
    color: white;
}
/********* Home *********/
.movie-row {
    width: 20%;
    float: left;
}
.col-row-6 {
    width: 16.66666667%;
    float: left;
}
.col-row-5 {
    width: 50%;
    float: left;
}
.col-row-3 {
    width: 33.33333333%;
    float: left;
}
.col-row-2 {
    width: 25%;
    float: left;
}
.col-row-1 {
    width: 20%;
    float: left;
}
.movie-list-fanart {
    background-color: #1d1d1d;
    position: relative;
}
.movie-list img {
    width: 100%;
}
.movie-list img:hover {
    opacity: 0.8;
}
.movie-list-info {
    background-color: #1d1d1d;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
}
.movie-row .movie-list-info,
.episode-row .movie-list-info{
    font-size: 11px;
}
.movie-list-title {
    position: absolute;
    bottom: 10px;
    left: 12px;
    right: 12px;
    height: auto;
    margin: 0;
}
.movie-list-title .vote_count {
    background-color: #ed1c24;
    color: #fff;
    font-size: 11px;
    display: inline-block;
    padding: 3px 5px;
    margin: 0 0 5px 0;
    height: auto;
}
.movie-list-title h3 {
    color: #fff;
    text-shadow: 0 0 20px black;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    white-space: normal;
    height: auto;
    overflow: visible;
}
.movie-list-date {
    padding: 5px;
    float: left;
}
.movie-list-metadata {
    float: right;
    padding: 5px;
}
.percentage .fa {
    color: #9e2424;
}
/********* Sidebar *********/
h2.list-group-item.active {
    margin: 0;
    font-size: 18px;
}
/********* Single *********/
.single {
    background-color: #fff;
    margin-bottom: 15px;
}
.poster-wrap {
    float: left;
    margin: 15px 15px 15px 0;
    text-align: center;
}
.movie-detail {
    font-size: 13px;
    position: relative;
    border-collapse: collapse;
}
.rating-star .fa {
    font-size: smaller;
    color: #D6B818;
}
.movie-detail .fa {
    margin-right: 10px;
    color: #666;
    text-shadow: 0 1px 1px #fff;
}
.poster-wrap .movie-rating {
    font-size: smaller;
    color: #999;
}
.movie-detail tr:first-child, 
.movie-detail tr:last-child {
    border-color: transparent;
}
.movie-detail tr {
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.movie-detail td.storyline {
    padding: 5px 0 10px 0;
}
td.tdtitle {
    white-space: nowrap;
}
.movie-detail td {
    padding: 3px 5px;
    vertical-align: top;
}
/********* Other *********/
.nowrap {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}
.alert {
    padding: 10px;
}
.clickable {
    cursor: pointer;
}
.btn-default {
    color: #fff;
    background-color: #1EC185;
}
.text-center {
    text-align: center;
}    
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-group > .btn:first-child {
    margin-left: 0px;
}
.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    float: left;
}
.btn-group-lg > .btn, .btn-lg {
    font-size: 18px;
    line-height: 1.33333;
    padding: 16px 16px;
    border-radius: 6px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 122, 183);
    border-color: rgb(46, 109, 164);
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    margin: 0px;
    font: inherit;
}
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
button {
    -webkit-appearance: button;
}
.glyphicon-play::before {
    content: "î²";
}
::after, ::before {
    box-sizing: border-box;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.iklan img,
.iklan iframe{
    max-width: 100%;
}
#mobisearch {
    display: none;
    margin-bottom: 15px;
}
/********* Player *********/
#player {
    position: relative;
    overflow: hidden;
    min-height: 100px;
}
#player:hover{
    cursor:pointer
}
.player-container:hover > .play-button .fa-youtube-play:before{
    color:#c00;
    text-shadow:0 0 8px #000;
    opacity:1;
}
#player:hover > #controls{
    bottom:0;
}
#player:hover h1.entry-title{
    top:0
}
.single h1.entry-title {
    margin: 0;
    padding: 7px 15px;
    position: absolute;
    width: 100%;
    top: -40px;
    z-index: 10;
    background-color: rgba(0,0,0,.5);
    font-size: 24px;
    color: #ccc;
}
.single .img-responsive {
    max-height: 630px;
}
.player-container {
    line-height: 0;
}
.play-button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
}
.play-button .fa {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    visibility: hidden;
}
.play-button .fa:before {
    display: table-cell;
    vertical-align: middle;
    font-size: 80px;
    color: rgba(255,255,255,.5);
    color: #2E99E5;
}
.player-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: #000 url('images/player-loading.gif') center center no-repeat;
    visibility: visible;
}
.mpaa {
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 10px 5px;
    color: #ccc;
    font-size: 10pt;
    border-radius: 4px;
    position: absolute;
    z-index: 800;
    top: 8px;
    right: 10px;
}
#controls {
    width: 100%;
    font-size: 18px;
    position: absolute;
    bottom: -38px;
    background-color: #111;
    background-color: rgba(0,0,0,.7);
}
.controls-wraper {
    margin: 0 15px;
    height: 18px;
    padding: 10px 15px;
    color: #999;
    position: relative;
    z-index: 300;
    line-height: 0;
}
.cplay, .volume, .duration {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.cvolu {
    width: auto;
    background: none;
    display: inline-block;
    float: left;
    position: relative;
    opacity: 0.8;
}
#ivol.ui-slider-horizontal {
    height: 7px;
    width: 0;
    overflow: hidden;
    background: #999;
    position: relative;
    top: 4px;
    margin-left: 30px;
    box-shadow: inset 0 1px 5px -1px #000;
}
.cvolu:hover > #ivol.ui-slider-horizontal { 
    width:100px; 
    overflow:visible;
    margin-right: 15px;
}
#ivol .ui-widget-header {
    background:#c00;
    box-shadow: inset 0 1px 5px -1px #000;
    height:7px;
}
#ivol .ui-slider .ui-slider-range { 
    position:absolute; 
    z-index:1; 
    font-size:.7em; 
    display:block; 
    border:0; 
}
#ivol .ui-slider-horizontal .ui-slider-range { 
    top:0; height:100%; 
}
#ivol .ui-slider-handle {
    width:5px;
    height:14px;
    background:#ccc;
    display:inline-block;
    position:relative;
    top:-10px;
    outline:none;
}
.play:hover,
.volume:hover,
.quality:hover,
.fullscreen:hover{
    cursor:pointer;
    color:#fff;
}
a.play {
    color: #999;
    line-height: 0;
}
.duration {
    position: relative;
    float: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    top: 7px;
    color: #999;
}
.dmax {
    color: #fff;
}
.progress {
    display: block;
    margin: 0 100px 0 170px;
    height: 10px;
    position: relative;
    top: 2px;
    background: #000;
}
.buffering {
    position: relative;
    height: 10px;
    background: #000;
    display: block;
    width: 100%;
}
.progressbar {
    position: absolute;
    height: 10px;
    width: 10px;
    background: #137CE6;
    display: block;
    top: 0;
    left: 0;
}
.buffering::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #137CE6;
    -webkit-animation: animate-shine 200s ease-in;
    -moz-animation: animate-shine 200s ease-in;
    animation: animate-shine 200s ease-in;
}
.quality, .fullscreen {
    position: relative;
    float: right;
    top: -9px;
    display: inline-block;
    margin-left: 15px;
}
.quality .hd {
    position: absolute;
    background: #c00;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    font-weight: bold;
    padding: 1px 3px;
    top: -5px;
    left: 8px;
    line-height: 100%;
}
.top-content {
    background-repeat: no-repeat;
}
.top-content p.top {
    margin-bottom: 150px;
    font-size: 20px;
    box-shadow: 0 3px 15px -5px #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.top-content p {
    padding: 10px;
    background-color: rgba(255,255,255,.5);
    color: #333;
}
.top-content p.bottom {
    box-shadow: 0 -3px 15px -5px #000;
}

.online{color:#fff; font-size: 12px;position:fixed; bottom: 0;right:0; background:rgba(0,0,0,0.5);  width:180px; padding:10px; border-radius:5px 0 0 0;  }
.online-icon{display: inline-block; background: url('//forums.getpaint.net/public/style_images/master/ajax_loading.gif') no-repeat; width:43px; height:11px;}
.online-text{
        width:140px;float:right;display: inline-block;
}
.online-text p{margin:0;}


@-webkit-keyframes animate-shine{0%{opacity:1;width:0;}50%{opacity:1;}100%{opacity:1;width:100%;}}
@-moz-keyframes animate-shine{0%{opacity:1;width:0;}50%{opacity: 1;}100%{opacity:1;width:100%;}}
@-webkit-keyframes animate-progres{0%{opacity:1;width:0;}50%{opacity:1;}100%{opacity:1;width:100%;}}
@-moz-keyframes animate-progres{0%{opacity:1;width:0;}50%{opacity: 1;}100%{opacity:1;width:100%;}}
/********* Footer *********/
.footer {
    color: #888;
    margin-top: 15px;
    font-size: 11px;
    line-height: 1.4545454545454546em;
    background-color: #1C1C1C;
    border-top: 2px solid #242424;
    padding: 0 0 .7692307692307693em;
}
.footer .copyright {
    border-top: 1px solid #111;
    border-bottom: 1px solid #242424;
    background-color: #171717;
    margin-bottom: .9090909090909091em;
    padding: .45454545454545453em .9090909090909091em .9090909090909091em;
}
.footer .credit{
    padding: 0 10px;
    clear: both;
    display: block;
	float: right;
}
.footer a{
    color: #346C98;
}
.footer a:focus, .footer a:hover {
    color: #5886A7;
    text-decoration: none;
}

@media (min-width: 992px) {
    .col-row-3 {
        width: 33.33333333%;
    }
    .movie-row .img-responsive {
        height: 200px;
    }
    .episode-row .img-responsive {
        height: 100px;
    }
    .last .img-responsive {
        height: auto;
    }
    .movie-row .backdrop_path {
        display:none;
    }
    .movie-row .movie-list-title h3 {
        font-size: 14px;
    }
}
@media screen and (max-width:400px){
    .col-row-3 {
        width: 100%;
    }
    .col-row-6 {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .movie-list .poster_path {
        display: none;
    }
    .movie-detail,
    .col-row-5,
    .col-row-3,
    .col-row-2,
    .col-row-1 {
        width: 100%;
    }
    .poster-wrap {
        display: none;
    }
}
@media (max-width:568px) and (min-width: 400px){
    .col-row-1,.col-row-2,.col-row-3 {
        width: 50%;
    }
    .col-row-6 {
        width: 33.33333333%;
    }
}
@media (max-width: 991px) and (min-width: 768px){
   .col-row-2 {
        width: 33.33333333%;
    }
}
@media (max-width: 991px) and (min-width: 568px){
    .col-row-3,.col-row-1 {
        width: 50%;
    }
    .movie-list img {
        width: 100%;
        height: 130px;
    }
    .episode-row .img-responsive {
        height: 130px;
    }
    .movie-list .poster_path {
        display: none;
    }
}
@media (max-width: 800px) and (min-width: 394px) {
    #mobisearch {
        display: block!important;
    }
}
@media (max-width: 394px) and (min-width: 200px) {
    #mobisearch {
        display: block!important;
    }
}

.wath {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.wath:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
.wath:active {
	position:relative;
	top:1px;
}
